/* .container{
    text-align: center;
}*/
.btn1{
    margin-top: 16px;
    background-color:  #4e0552;
    color: white;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    /* margin-left: 40px; */
    margin-left: 15px;
}
button:hover{
    background: linear-gradient(to right,#ff512f,yellow);
    color: white;
} 

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }